script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')

footer.py-5
  .container.py-xl-4
    .row.footer-top
      .col-lg-4.footer-grid_section_1its.footer-text
        // logo
        h2
          a.logo.text-wh(href='index.html')
            img.img-fluid(src='images/logo.png' alt='')
            span Tasty
            |  Burger
        // //logo
        p.mt-lg-4.mt-3.mb-lg-5.mb-4
          | Sed ut perspiciatis unde omnis iste natus errorhjhsit lupt
          | atem
          | accursit lupt atem accu
          | dfdsa
          | ntium doloremque laudan tium accu santium dolore.
        // social icons
        ul.top-right-info
          li
            p Follow As:
          li.facebook-w3
            a(href='#facebbok')
              span.fa.fa-facebook-f
          li.twitter-w3
            a(href='#twitter')
              span.fa.fa-twitter
          li.google-w3
            a(href='#google')
              span.fa.fa-google-plus
          li.dribble-w3
            a(href='#dribble')
              span.fa.fa-dribbble
        // //social icons
      .col-lg-4.footer-grid_section_1its.my-lg-0.my-sm-4.my-4
        .footer-title
          h3 Contact Us
        .footer-text.mt-4
          p Address : 1234 lock, Charlotte, North Carolina, United States
          p.my-2 Phone : +12 534894364
          p
            | Email : 
            a(href='mailto:info@example.com') info@example.com
        .footer-title.mt-4.pt-md-2
          h3 Payment Method
        ul.list-unstyled.payment-links.mt-4
          li
            a(href='login.html')
              img(src='images/pay2.png' alt='')
          li
            a(href='login.html')
              img(src='images/pay5.png' alt='')
          li
            a(href='login.html')
              img(src='images/pay1.png' alt='')
          li
            a(href='login.html')
              img(src='images/pay4.png' alt='')
      .col-lg-4.footer-grid_section_1its
        .footer-title
          h3 Request Info
        .info-form-right.mt-4.p-0
          form(action='#' method='post')
            .row
              .col-lg-6.form-group.mb-2.pr-lg-1
                input.form-control(type='text' name='Name' placeholder='Name' required='')
              .col-lg-6.form-group.mb-2.pl-lg-1
                input.form-control(type='text' name='Phone' placeholder='Phone' required='')
            .form-group.mb-2
              input.form-control(type='email' name='Email' placeholder='Email' required='')
            .form-group.mb-2
              textarea.form-control(name='Comment' placeholder='Comment' required='')
            button.btn.submit-contact.ml-auto(type='submit') Submit
// //footer
// copyright
.cpy-right.text-center.py-3
  p
    | &copy; 2019 Tasty Burger. All rights reserved | Design by
    a(href='http://w3layouts.com')  W3layouts.
// //copyright
// move top icon
a.move-top.text-center(href='#home')
  span.fa.fa-level-up(aria-hidden='true')
// //move top icon
