footer.py-5
  .container.py-xl-4
    .row.footer-top
      .col-lg-4.footer-grid_section_1its.footer-text
        // logo
        h2
          a.logo.text-wh(href='index.html')
            img.img-fluid(src='images/logo.png' alt='')
            
        // //logo
        p.mt-lg-4.mt-3.mb-lg-5.mb-4
          | Las mejores maquinarias para tener tu auto como nuevo
          | cuida tu inversion con nosotros
          | Te estamos esperando
          
        // social icons
        ul.top-right-info
          li
            p Siguenos:
          li.facebook-w3
            a(href='#facebbok')
              span.fa.fa-facebook-f
          li.twitter-w3
            a(href='#twitter')
              span.fa.fa-twitter
         
        // //social icons
      .col-lg-4.footer-grid_section_1its.my-lg-0.my-sm-4.my-4
        .footer-title
          h3 Contactanos
        .footer-text.mt-4
          p Address : 1234 lock, Charlotte, North Carolina, United States
          p.my-2 Phone : +12 534894364
          p
            | Email : 
            a(href='mailto:info@example.com') info@example.com
      .col-lg-4.footer-grid_section_1its.my-lg-0.my-sm-4.my-4
        .footer-title.mt-4.pt-md-2
          h3 Metodo de pago
        ul.list-unstyled.payment-links.mt-4
          li
            a(href='login.html')
              img(src='images/pay2.png' alt='')
          li
            a(href='login.html')
              img(src='images/pay5.png' alt='')
          li
            a(href='login.html')
              img(src='images/pay1.png' alt='')
          li
            a(href='login.html')
              img(src='images/pay4.png' alt='')
      //.col-lg-4.footer-grid_section_1its
        .footer-title
          h3 Request Info
        .info-form-right.mt-4.p-0
          form(action='#' method='post')
            .row
              .col-lg-6.form-group.mb-2.pr-lg-1
                input.form-control(type='text' name='Name' placeholder='Name' required='')
              .col-lg-6.form-group.mb-2.pl-lg-1
                input.form-control(type='text' name='Phone' placeholder='Phone' required='')
            .form-group.mb-2
              input.form-control(type='email' name='Email' placeholder='Email' required='')
            .form-group.mb-2
              textarea.form-control(name='Comment' placeholder='Comment' required='')
            button.btn.submit-contact.ml-auto(type='submit') Submit
// //footer
// copyright


// move top icon
a.move-top.text-center(href='#home')
  span.fa.fa-level-up(aria-hidden='true')
// //move top icon
