// FOOTER START
footer
  .container
    .row
      .col-lg-3.col-md-3.col-sm-6.footer-left.col-footer
        a.footer-logo(href='index.html')
          img(src='assets/images/mini_mundoOriginal.png', falt='logo-img')
        ul
          li(style="color:#FFF")
            |Redes Sociales: 
            a(href='https://www.facebook.com/ryfcomunicacionesperu')
              i.fa.fa-facebook
          li
            a(href='https://www.linkedin.com/in/william-ram%C3%B3n-chinchay-84933a31/')
              i.fa.fa-linkedin
        ul
          li
            a(href='#')
              i.fa.fa-whatsapp
          li
            p(style="color:#FFF") (+51) 991224300
        ul
          li
            a(href='#')
              i.fa.fa-phone
          li
            p(style="color:#FFF") (01) 5097400 
        
        
      .col-lg-4.col-md-4.col-sm-6.footer-left.col-footer
       
        div
          |R&F Comunicaciones es una Empresa Peruana fundada en el año 2010, está conformada por personal altamente especializado en las áreas de telecomunicaciones, redes de distribución eléctrica, cableado eléctrico, telefónico y estructurado, pozos a tierra, sistemas de aire acondicionado y sistemas de video vigilancia.
          |nos dedicamos a la asesoría, suministros, servicios y proyectos integrales para la pequeña, mediana y gran empresa.
        
    
    
      .col-lg-2.col-md-2.col-sm-6.col-footer.footer-nav.first-nav
        .h3 Enlaces Adicionales
        ul
          li
            a(href='index') Inicio
          li
            a(href='about') Nosotros
          li
            a(href='team') Nuestros Clientes
          li
            a(href='index#sectorproducto') Productos
          li
            a(href='index#sectorservicio') Servicios
          li
            a(href='contact') Contacto
      .col-lg-3.col-md-3.col-sm-6.col-footer
        .h3 Galeria
        ul.footer-thumb
          li
            a(href='#')
              img(src='assets/images/galeria/aireacon.jpg', alt='thumb')
          li
            a(href='#')
              img(src='assets/images/servicios/telecomu.jpg', alt='thumb')
          li
            a(href='#')
              img(src='assets/images/servicios/videovigi.jpg', alt='thumb')
          li
            a(href='#')
              img(src='assets/images/servicios/pozotierra.jpg', alt='thumb')
          li
            a(href='#')
              img(src='assets/images/servicios/redeselectrica.jpg', alt='thumb')
          li
            a(href='#')
              img(src='assets/images/proyecto/redesdatoslan.jpg', alt='thumb')
// FOOTER END
section.bottom-bar
  span
    | All Rights Reserved. ©2019 One Solution - Multipurpose HTML Template. Design by 
    a(href='mailto:Ventas@Ryfcomunicaciones.Com') RYF comunicaciones
a.scrollToTop(href='#')
  i.fa.fa-angle-up
// SWITCH OF OPTIONS
#st-container.st-container.st-effect-1
  #menu-1.st-menu.st-effect-1
    .wide-boxed-section.buttons-list
      .item.wide.active(data-item='wide') Wide
      .item.boxed(data-item='boxed') Boxed
    .color-section
      .section-title Colors scheme:
      .colors-list.items-switcher
        .item.red.active(data-color-path='assets/css/colors/blue.css', data-logo-path='assets/images/logoempresa.jpeg', data-footer-logo-path='assets/images/footer-logoempresa.jpeg')
        .item.blue(data-color-path='assets/css/colors/blue.css', data-logo-path='assets/images/logo-blue.png', data-footer-logo-path='assets/images/footer-logo-blue.png')
        .item.orange(data-color-path='assets/css/colors/orange.css', data-logo-path='assets/images/logo-orange.png', data-footer-logo-path='assets/images/footer-logo-orange.png')
        .item.green(data-color-path='assets/css/colors/green.css', data-logo-path='assets/images/logo-green.png', data-footer-logo-path='assets/images/footer-logo-green.png')
        .item.violet(data-color-path='assets/css/colors/violet.css', data-logo-path='assets/images/logo-violet.png', data-footer-logo-path='assets/images/footer-logo-violet.png')
    .positioning-header
      .section-title Positioning of header:
      .header-positions.buttons-list
        .item.fixed.active(data-item='fixed') Fixed
        .item.top(data-item='relative') Top
    .boxed-pattern
      .section-title Patterns:
      .patterns-list.items-switcher
        div
          .item.active(style='background-image: url(assets/images/patterns/1.png);', data-path='assets/images/patterns/1.png')
          .item(style='background-image: url(assets/images/patterns/2.png);', data-path='assets/images/patterns/2.png')
          .item(style='background-image: url(assets/images/patterns/3.png);', data-path='assets/images/patterns/3.png')
          .item(style='background-image: url(assets/images/patterns/4.png);', data-path='assets/images/patterns/4.png')
          .item(style='background-image: url(assets/images/patterns/5.png);', data-path='assets/images/patterns/5.png')
        div
          .item(style='background-image: url(assets/images/patterns/6.png);', data-path='assets/images/patterns/6.png')
          .item(style='background-image: url(assets/images/patterns/7.png);', data-path='assets/images/patterns/7.png')
          .item(style='background-image: url(assets/images/patterns/8.png);', data-path='assets/images/patterns/8.png')
          .item(style='background-image: url(assets/images/patterns/9.png);', data-path='assets/images/patterns/9.png')
          .item(style='background-image: url(assets/images/patterns/10.png);', data-path='assets/images/patterns/10.png')
    .boxed-background
      .section-title Backgrounds:
      .backgrounds-list.items-switcher
        .item.active(style='background-image: url(assets/images/backgrounds/1-min.jpg);', data-path='assets/images/backgrounds/1.jpg')
        .item(style='background-image: url(assets/images/backgrounds/2-min.jpg);', data-path='assets/images/backgrounds/2.jpg')
        .item(style='background-image: url(assets/images/backgrounds/3-min.jpg);', data-path='assets/images/backgrounds/3.jpg')
        .item(style='background-image: url(assets/images/backgrounds/4-min.jpg);', data-path='assets/images/backgrounds/4.jpg')
        .item(style='background-image: url(assets/images/backgrounds/5-min.jpg);', data-path='assets/images/backgrounds/5.jpg')
  .st-pusher