
.top-bar.py-2.border-bottom.color-header
    .container
      .row.middle-flex
        .col-xl-7.col-md-5.top-social-agile.mb-md-0.mb-1.text-lg-left.text-center
          .row
            .col-xl-3.col-6.header-top_w3layouts.offset-sm-1
              p.text-da
                span.fa.fa-map-marker.mr-2
                | Parma Via, Italy
            .col-xl-3.col-6.header-top_w3layouts
              p.text-da
                span.fa.fa-phone.mr-2
                | +1 000263676
            .col-xl-6
        .col-xl-5.col-md-7.top-social-agile.text-md-right.text-center.pr-sm-0.mt-md-0.mt-2
          .row.middle-flex
            .col-lg-5.col-4.top-w3layouts.p-md-0.text-right
              // login
            .col-lg-7.col-8.social-grid-w3
              // social icons
              ul.top-right-info
                li
                  p Siguenos:
                li.facebook-w3
                  a(href='#facebook')
                    span.fa.fa-facebook-f
                li.twitter-w3
                  a(href='#twitter')
                    span.fa.fa-twitter
                li
                  a(href='')
                    span  
                
// //top-bar
// header 2
// navigation
.main-top.py-1.color-header
  .container
    .nav-content
      // logo
      h1
        a#logo.logo(href='index.html')
          img.img-fluid(src='images/logo.png' alt='')
          span Tasty
          |  Burger
      // //logo
      // nav
      .nav_web-dealingsls
        nav
          label.toggle(for='drop') Menu
          input#drop(type='checkbox')
          ul.menu
            li
              a(href='/') Inicio
            li
              a(href='/services') Servicios
            li
              a(href='/locations') Localizaciones
            li
              a(href='/about') Nosotros
            li
              a(href='/contact') Contacto
            li
