extends ../layout/home.pug

block view
  
  section#about.w3ls-bnrbtm.py-5
    .container.py-xl-5.py-lg-3
      .title-section.text-center.mb-md-5.mb-4
        h3.w3ls-title.mb-3
          | ¿POR QUÉ GLOBAL CAR WASH?
         
        p.titile-para-text.mx-auto
          | Tu auto es una inversión.
      .row
        .col-lg-10.pr-xl-8.mt-xl-2.mt-lg-0
          h3.title-sub.mb-4
            | Entretenido
            
          p.sub-para
            | Apto para niños y aprobado por los padres. Una experiencia para tu auto y tu familia.
        
          h3.title-sub.mb-4.border-top
            | MÁS RÁPIDO
          p.sub-para
            | Entra y sale en menos de 5 minutos. Nuestra última tecnología le dará a su automóvil un brillo increíble en cuestión de minutos.
         
          h3.title-sub.mb-4.border-top
            | ECO-AMIGABLE
          p.sub-para
            | Conservamos el 80% de nuestra agua. Nuestra prioridad es proteger nuestro suministro de agua; Un recurso limitado en esta área. Utilizamos detergentes no tóxicos y biodegradables porque nos preocupamos tanto por el planeta como a usted.
            
          h3.title-sub.mb-4.border-top
            | IMPECABLE
          p.sub-para
            | Mantenga la apariencia de su auto. Lavar su automóvil de manera rutinaria lo ayudará a preservar la inversión en su vehículo.
            
          h3.title-sub.mb-4.border-top
            | PRECIO
          p.sub-para
            | Paquetes con un precio de $ 6 a $ 14. Es más que económico e incluye vacío gratuito, membresía con descuento y un programa de fidelización de clientes.
            
     
  // //about
  // services
  //section#services.middle.py-5
    .container.py-xl-5.py-lg-3
      .title-section.text-center.mb-md-5.mb-4
        p.w3ls-title-sub Our Work
        h3.w3ls-title.mb-3
          | Excellent 
          span Services
      .row.grids-w3.py-xl-5.py-lg-4.pt-lg-0.pt-4
        .col-lg-5.w3pvt-lauits_banner_bottom_left
          .row
            .col-8.wthree_banner_bottom_grid_right.text-right
              h4.mb-3
                a(href='login.html') Free Shipping
              p Morbi viverra lacus commodo felis semper lectus feugiat.
            .col-4.wthree_banner_bottom_grid_left.text-lg-right.text-center
              img.img-fluid(src='images/s1.png' alt='')
        .col-lg-2.w3pvt-lauits_banner_bottom_left
        .col-lg-5.w3pvt-lauits_banner_bottom_left.mt-lg-0.mt-4
          .row
            .col-4.wthree_banner_bottom_grid_left.text-lg-right.text-center
              img.img-fluid(src='images/s2.png' alt='')
            .col-8.wthree_banner_bottom_grid_right
              h4.mb-3
                a(href='login.html') Free &amp; Easy Returns
              p Morbi viverra lacus commodo felis semper lectus feugiat.
      .row.grids-w3.py-xl-5.py-lg-4.mt-lg-0.mt-4
        .col-lg-4.w3pvt-lauits_banner_bottom_left
          .row
            .col-8.wthree_banner_bottom_grid_right.text-right.pl-lg-0
              h4.mb-3
                a(href='login.html') Online Order
              p Morbi viverra lacus commodo felis semper lectus feugiat.
            .col-4.wthree_banner_bottom_grid_left.text-lg-right.text-center.pr-lg-0
              img.img-fluid(src='images/s3.png' alt='')
        .col-lg-4.w3pvt-lauits_banner_bottom_left.pr-0
        .col-lg-4.w3pvt-lauits_banner_bottom_left.mt-lg-0.mt-4
          .row
            .col-4.wthree_banner_bottom_grid_left.text-lg-right.text-center.pl-lg-0
              img.img-fluid(src='images/s4.png' alt='')
            .col-8.wthree_banner_bottom_grid_right.pr-lg-0
              h4.mb-3
                a(href='login.html') 24/7 Support
              p Morbi viverra lacus commodo felis semper lectus feugiat.
    .img-blog-2
      img.img-fluid(src='images/img.png' alt='')
  // //services
  // team
  //    #chefs.team.py-5
    .container-fluid.py-xl-5.py-lg-3
      .title-section.text-center.mb-md-5.mb-4
        h3.w3ls-title.mb-3
          | Our 
          span Chefs
        p.titile-para-text.mx-auto
          | Inventore veritatis et quasi architecto beatae vitae dicta sunt
          | explicabo.Nemo
          | enim totam rem aperiam.
      .row.team-bottom.pt-4
        .col-lg-3.col-6.team-grid
          a(href='#team')
            img.img-fluid(src='images/t1.png' alt='')
          .caption
            .team-text
              h4
                a(href='#team') Mack Joe
            ul
              li
                a(href='#')
                  i.fa.fa-facebook.f1(aria-hidden='true')
              li
                a(href='#')
                  i.fa.fa-twitter.f2(aria-hidden='true')
              li
                a(href='#')
                  i.fa.fa-google-plus.f3(aria-hidden='true')
        .col-lg-3.col-6.team-grid
          a(href='#team')
            img.img-fluid(src='images/t2.png' alt='')
          .caption
            .team-text
              h4
                a(href='#team') Cruz Deo
            ul
              li
                a(href='#')
                  i.fa.fa-facebook.f1(aria-hidden='true')
              li
                a(href='#')
                  i.fa.fa-twitter.f2(aria-hidden='true')
              li
                a(href='#')
                  i.fa.fa-google-plus.f3(aria-hidden='true')
        .col-lg-3.col-6.team-grid.mt-lg-0.mt-4
          a(href='#team')
            img.img-fluid(src='images/t3.png' alt='')
          .caption
            .team-text
              h4
                a(href='#team') Rochy Jae
            ul
              li
                a(href='#')
                  i.fa.fa-facebook.f1(aria-hidden='true')
              li
                a(href='#')
                  i.fa.fa-twitter.f2(aria-hidden='true')
              li
                a(href='#')
                  i.fa.fa-google-plus.f3(aria-hidden='true')
        .col-lg-3.col-6.team-grid.mt-lg-0.mt-4
          a(href='#team')
            img.img-fluid(src='images/t4.png' alt='')
          .caption
            .team-text
              h4
                a(href='#team') Rojo Poy
            ul
              li
                a(href='#')
                  i.fa.fa-facebook.f1(aria-hidden='true')
              li
                a(href='#')
                  i.fa.fa-twitter.f2(aria-hidden='true')
              li
                a(href='#')
                  i.fa.fa-google-plus.f3(aria-hidden='true')
