extends ../layout/home.pug

block view


    .container.py-xl-5.py-lg-3.bg-white
        .title-section.text-center
        h3.w3ls-title.mb-3
            | Contactanos
        
        
        if enviado
            h2(style={color:'red'}) Mensaje enviado
        p.titile-para-text.mx-auto
            | Dejanos tu comentario y nos contactaremos
            | tan pronto como nos sea posible.
        .row.contact-agileinfo.pt-lg-4
            .col-lg-6.contact-right.mt-lg-0.mt-5
                form(action="enviarMensaje" method='post')
                    .form-group
                        .col-lg-6.form-group.pr-lg-2
                        input.form-control(type='text', name='Name', placeholder='Nombre', required='')
                        .col-lg-6.form-group.pl-lg-2
                        input.form-control(type='email', name='Email', placeholder='Email', required='')
                    .form-group
                        input.form-control(type='text', name='Phone', placeholder='Celular', required='')
                    .form-group
                        textarea.form-control(name='Message', placeholder='Mensaje', required='')
                    button.btn.submit-contact-main.ml-auto(type='submit', value="Enviar") Enviar

            .col-md-5.offset-md-1.address
                h3.footer-title.mb-4.pb-lg-2 Ubicanos
                .row.address-info-w3ls
                .col-3.address-left
                    
                .col-9.address-right.mt-2
                    h5.address.mb-2 Dirección:
                    p=data.ubicacion
                .row.address-info-w3ls.my-2
                .col-3.address-left
                   
                .col-9.address-right.mt-2
                    h5.address.mb-2 Correo Electronico:
                    p=data.correo
                    
                .row.address-info-w3ls
                .col-3.address-left
                   
                .col-9.address-right.mt-2
                    h5.address.mb-2 Telefono:
                    p=data.telefono
                .col-12.address-right.mt-2
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423286.27404345275!2d-118.69191921441556!3d34.02016130939095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos+Angeles%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1522474296007' allowfullscreen='')
