extends ../layout/home.pug


block view
  // slides images
  section#carouselExampleFade.carousel.slide.carousel-fade(data-ride='carousel')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='images/carwash/impecable.jpg' alt='First slide')
      //.carousel-item
        img.d-block.w-100(src='images/carwash/lamejor1.png' alt='Second slide')
      .carousel-item
        img.d-block.w-100(src='images/carwash/CARwash2.jpg' alt='Third slide')
    a.carousel-control-prev(href='#carouselExampleFade' role='button' data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleFade' role='button' data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
  //- section#carouselExampleControls.carousel.slide(data-ride='carousel')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='images/carwash/LIMPIADOR.png' alt='First slide')
      .carousel-item
        img.d-block.w-100(src='images/carwash/impecable.png' alt='Second slide')
      .carousel-item
        img.d-block.w-100(src='images/carwash/lamejor1.png' alt='Third slide')
      a.carousel-control-prev(href='#carouselExampleControls' role='button' data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleControls' role='button' data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next    
 
  .baneer-w3ls
    .row.no-gutters
      .col-xl-12.col-lg-6.center-block
        .banner-left-w3
          .container
            .banner-info_agile_w3ls
              //h5 Only Fresh Burgers
              h3.text-da.mb-2
                | BIENVENIDO A
                span  GLOBAL CAR WASH
              p
                | Somos una empresa peruana creada con la finalidad de brindar servicio de lavado de autos mediante un túnel express de auto-lavado ecológico, innovando de esta manera el mercado peruano con un servicio rápido, económico y eco-amigable.
                | Nuestro túnel de lavado es de tecnología norteamericana y cuenta con 40 metros de longitud.

              a.button-w3ls.mt-5.ml-2(href='menu.html')
                | Order Now
                span.fa.fa-caret-right.ml-1(aria-hidden='true')
      .col-xl-7.col-lg-6.callbacks_container
        
  .clearfix
  // aboutBIEN
  .container(style='background:#fff')
    .row.mb-3
        .col-sm-5.d-flex
          .card.card-body.flex-fill(style='background: rgba(0,0,255,.1)')
              .card-title
                h5.font-weight-bold.mb-5 APPLICATIONS
              //- .card-text.mb-0
              //-   | Some quick example text
              ul.list-group.list-group-flush(style='background: rgba(0,0,255,.1) ; margin: 17px 0px 0px 0px')
                li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") Jabon Ecologico
                li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") Enjuague agua tratada
                li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") Liquido pre-secado
                li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") Secado de aire
                li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") Shampo abrillantador
                li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") Silicona de llantas
              
            
        .col-sm-2.d-flex
         .card.card-body.flex-fill(style='background:#fff;color:#9aa2b4')
            .card-title
              h5.font-weight-bold.mb-0 PREMIUM
            .card-text.mb-4.btn(style='background:rgba(	237,237,241,.6);color:#9aa2b4')
              | S/160
            ul.list-group.list-group-flush.h-100
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
              li.list-group-item(style="height:35px; line-height:1;")
             
            
            
        .col-sm-2.d-flex
         .card.card-body.flex-fill(style='background:rgba(255,215,0,.6);color:#d7a000')
            .card-title
              h5.font-weight-bold.mb-0 EJECUTIVO
            .card-text.mb-4.btn(style='background:rgba(	184,134,11,06);color:#9aa2b4')
              | S/140
            ul.list-group.list-group-flush.h-100
              
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
         
           
        .col-sm-2.d-flex
         .card.card-body.flex-fill.h-100(style='background:#DFDFE6;color:#747474')
            .card-title
              h5.font-weight-bold.mb-0 STANDARD
            .card-text.mb-4.btn(style='background:rgba(180, 180, 196,.6);color:#9aa2b4')
              | S/120
            ul.list-group.list-group-flush.h-100.d-inline-block
                 
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')