extends ../layout/home.pug


block view
  // slides images
  section#carouselExampleFade.carousel.slide.carousel-fade(data-ride='carousel')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='images/carwash/impecable.jpg' alt='First slide')
      //.carousel-item
        img.d-block.w-100(src='images/carwash/lamejor1.png' alt='Second slide')
      .carousel-item
        img.d-block.w-100(src='images/carwash/CARwash2.jpg' alt='Third slide')
    a.carousel-control-prev(href='#carouselExampleFade' role='button' data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleFade' role='button' data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
  //- section#carouselExampleControls.carousel.slide(data-ride='carousel')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='images/carwash/LIMPIADOR.png' alt='First slide')
      .carousel-item
        img.d-block.w-100(src='images/carwash/impecable.png' alt='Second slide')
      .carousel-item
        img.d-block.w-100(src='images/carwash/lamejor1.png' alt='Third slide')
      a.carousel-control-prev(href='#carouselExampleControls' role='button' data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleControls' role='button' data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next    
 
  .baneer-w3ls
    .row.no-gutters
      .col-xl-12.col-lg-6.center-block
        .banner-left-w3
          .container
            .banner-info_agile_w3ls
              //h5 Only Fresh Burgers
              h3.text-da.mb-2
                | BIENVENIDO A
                span(style="color:#be0912")  GLOBAL CAR WASH
              p
                | Somos una empresa peruana creada con la finalidad de brindar servicio de lavado de autos mediante un túnel express de auto-lavado ecológico, innovando de esta manera el mercado peruano con un servicio rápido, económico y eco-amigable.
                | Nuestro túnel de lavado es de tecnología norteamericana y cuenta con 40 metros de longitud.
              br
              br
              
              
               
      .col-xl-7.col-lg-6.callbacks_container
         
  .clearfix
  // aboutBIEN
  .container(style='background:#fff;')
    h5.font-weight-bold.mb-0(style='margin: 0px 0px 0px 0px')
                | Nuestros Planes:
    br
    .row.mb-3
        
       
        .col-sm-4.d-flex
         .card.card-body.flex-fill.h-100(style='background:#fff;color:#747474')
            .card-title
              h5.font-weight-bold.mb-0(style='text-align: center; color:#be0912') STANDARD
            .card-text.mb-4.btn(style='background:rgba(	237,237,241,.6);color:black')
              | S/120
            ul.list-group.list-group-flush.h-100.d-inline-block
                 
                  li.list-group-item(style="height:35px; line-height:1;color:#848484")
                    span.fa.fa-caret-right
                      | Jabón ecológico (elimina suciedad)
                  li.list-group-item(style="height:35px; line-height:1;color:#848484")
                    span.fa.fa-caret-right
                      | Enjuague - Agua tratada
                  li.list-group-item(style="height:35px; line-height:1;color:#848484")
                    span.fa.fa-caret-right
                      | Liquido pre-secado
                  li.list-group-item(style="height:35px; line-height:1;color:#848484")
                    span.fa.fa-caret-right
                      | Secado
                 
        .col-sm-4.d-flex
         .card.card-body.flex-fill(style='background:#fff;color:#9aa2b4')
            .card-title
              h5.font-weight-bold.mb-0(style='text-align: center; color:#9e7d50') EJECUTIVO
            .card-text.mb-4.btn(style='background:rgba(	237,237,241,.6);color:black')
              | S/140
            ul.list-group.list-group-flush.h-100
              
              li.list-group-item(style="height:35px; line-height:1; color:#848484 ")
                    span.fa.fa-caret-right
                      | Jabón ecológico (elimina suciedad)
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                    span.fa.fa-caret-right
                      | Shampoo abrillantador
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                    span.fa.fa-caret-right
                      | Enjuague - Agua tratada
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                    span.fa.fa-caret-right
                      | Liquido pre-secado
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                    span.fa.fa-caret-right
                      | Secado

        .col-sm-4.d-flex
         .card.card-body.flex-fill(style='background:#fff;color:#9aa2b4')
            .card-title
              h5.font-weight-bold.mb-0(style='text-align: center; color:#1f1714') PREMIUM
            .card-text.mb-4.btn(style='background:rgba(	237,237,241,.6);color:black')
              | S/160
            ul.list-group.list-group-flush.h-100
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Jabón ecológico (elimina suciedad)
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Shampoo abrillantador
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Lavado multicolor
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Sunami (vida para tu auto)
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Enjuague - Agua tratada
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Liquido pre-secado
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Secado
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Silicona en llantas
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Show / Cortadoras
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Luces LEDS
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Sugerido para camionetas o SUV