extends ../layout/home.pug


block view
  // slides images
  section#carouselExampleFade.carousel.slide.carousel-fade(data-ride='carousel')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='images/carwash/impecable.png' alt='First slide')
      .carousel-item
        img.d-block.w-100(src='images/carwash/lamejor1.png' alt='Second slide')
      .carousel-item
        img.d-block.w-100(src='images/carwash/ecoamigable2.png' alt='Third slide')
    a.carousel-control-prev(href='#carouselExampleFade' role='button' data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleFade' role='button' data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
  //- section#carouselExampleControls.carousel.slide(data-ride='carousel')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='images/carwash/LIMPIADOR.png' alt='First slide')
      .carousel-item
        img.d-block.w-100(src='images/carwash/impecable.png' alt='Second slide')
      .carousel-item
        img.d-block.w-100(src='images/carwash/lamejor1.png' alt='Third slide')
      a.carousel-control-prev(href='#carouselExampleControls' role='button' data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleControls' role='button' data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next    
 
  .baneer-w3ls
    .row.no-gutters
      .col-xl-12.col-lg-6.center-block
        .banner-left-w3
          .container
            .banner-info_agile_w3ls
              //h5 Only Fresh Burgers
              h3.text-da.mb-2
                | BIENVENIDO A
                span  GLOBAL CAR WASH
              p
                | BIENVENIDO A GLOBAL CAR WASH ¿Qué es mejor que un lavado de autos prístino de $ 6 que toma 5 minutos o menos? No mucho, si nos preguntas! Presentamos FAST5XPRESS, la solución de hoy para las personas ocupadas en movimiento que desean cuidar bien sus automóviles. ¡FAST5XPRESS también es ecológico!
                |¡Fácil para el mundo, fácil para tu billetera!
              a.button-w3ls.mt-5.ml-2(href='menu.html')
                | Order Now
                span.fa.fa-caret-right.ml-1(aria-hidden='true')
      .col-xl-7.col-lg-6.callbacks_container
        
  .clearfix
  // aboutBIEN
  .container(style='background:#fff')
    .row
      .dodyprice-servicesleft
        .headingbg APPLICATIONS
        .list
          ul
            li ARMOR ALL Extreme Shine Carnauba Wax
            li Citrus Foam Bath
            li Under body flush
            li ARMOR ALL Tire shine
            li RAIN-X Complete Surface Protection
            li SUPER DRY &amp; SHINE
            li WHEEL BRITE Tire and Wheel Cleaner
            li BLUE CORAL Clear Coat Sealant
            li BLUE CORAL Triple Foam Wax &amp; Conditioner
            li Clean Wash
            li SPOT FREE RINSE
            li FREE VACUUMS
            li
       
      .dodyprice-platinum
        .hedaing Platinum
        a.tooltip2(href="#")
          .pricebg
            .dollertext $
            .pricetext 14
            .monthtext "/whash"
              .star_icon *
        .list
          ul
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
        .shopp_platinum      
      
      .dodyprice-gold
        .hedaing GOLD
        a.tooltip2(href='#')
          .pricebg
            .dollertext $
            .pricetext 12
            .monthtext
              | &quot;/wash&quot;
              .star_icon 
                | *
        .list
          ul
            li
            li
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              
      .dodyprice-sliver 
        .hedaing Silver
        a.tooltip2(href="#")          
          .pricebg
            .dollertext $
            .pricetext 9
            .monthtext
              | &quot;/wash&quot;
              .star_icon 
                | *
        .list 
          ul
            li
            li
            li
            li
            li
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')

      .dodyprice-bronze
        .hedaing Bonze
        a.tooltip2(href="#")
          .pricebg
            .dollertext $
            .pricetext 6
            .monthtext "/whash"
              .star_icon *
        .list
          ul
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
            li
              img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')

