extends ../layout/home.pug


block view
  
  .baneer-w3ls
    .row.no-gutters
      .col-xl-5.col-lg-6
        .banner-left-w3
          .container
            .banner-info_agile_w3ls
              h5 Only Fresh Burgers
              h3.text-da.mb-4
                | Flame 
                span Grilled Burger
              p
                | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                | laudantium
              a.button-w3ls.active.mt-5(href='about.html')
                | Read More
                span.fa.fa-caret-right.ml-1(aria-hidden='true')
              a.button-w3ls.mt-5.ml-2(href='menu.html')
                | Order Now
                span.fa.fa-caret-right.ml-1(aria-hidden='true')
      .col-xl-7.col-lg-6.callbacks_container
        // banner slider
        #slider1.csslider.infinity
          input#slides_1(type='radio' name='slides' checked='checked')
          input#slides_2(type='radio' name='slides')
          input#slides_3(type='radio' name='slides')
          ul.banner_slide_bg
            li
              .banner-top1
            li
              .banner-top2
            li
              .banner-top3
          .arrows
            label(for='slides_1')
            label(for='slides_2')
            label(for='slides_3')
          .navigation
            div
              label(for='slides_1')
              label(for='slides_2')
              label(for='slides_3')
        // //banner slider
  // //banner
  .clearfix
  // about
  .about-bottom
    .row.no-gutters
      .col-lg-5.col-md-6.about
      .col-lg-7.col-md-6.about-right-w3.text-right.py-md-5
        .right-space.py-xl-5.py-lg-3
          .title-section.mb-4
            p.w3ls-title-sub About Us
            h3.w3ls-title
              | Welcome to 
              span Tasty Burger
          p.about-text
            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            | doloremque
            | laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
            | architecto
            | beatae vitae dicta
            | sunt explicabo.Nemo enim ipsam voluptatem quia voluptas sit.
          a.button-w3ls.mt-5(href='about.html')
            | Read More
            span.fa.fa-caret-right.ml-1(aria-hidden='true')
  // //about
  // specials
  section.blog_w3ls.py-5
    .container.pb-xl-5.pb-lg-3
      .title-section.text-center.mb-md-5.mb-4
        p.w3ls-title-sub Tasty
        h3.w3ls-title
          | Our 
          span Special
      .row
        // blog grid
        .col-lg-4.col-md-6
          .card.border-0.med-blog
            .card-header.p-0
              a(href='menu.html')
                img.card-img-bottom(src='images/blog1.jpg' alt='Card image cap')
            .card-body.border.border-top-0
              h5.blog-title.card-title.m-0
                a(href='menu.html') French Burger
              p.mt-3 Cras ultricies ligula sed magna dictum porta auris blandita.
              a.btn.button-w3ls.mt-4.mb-3(href='menu.html')
                | View More
                span.fa.fa-caret-right.ml-1(aria-hidden='true')
        // //blog grid
        // blog grid
        .col-lg-4.col-md-6.mt-md-0.mt-5
          .card.border-0.med-blog
            .card-header.p-0
              a(href='menu.html')
                img.card-img-bottom(src='images/blog2.jpg' alt='Card image cap')
            .card-body.border.border-top-0
              h5.blog-title.card-title.m-0
                a(href='menu.html') Veg Muffin
              p.mt-3 Cras ultricies ligula sed magna dictum porta auris blandita.
              a.button-w3ls.active.mt-4.mb-3(href='menu.html')
                | View More
                span.fa.fa-caret-right.ml-1(aria-hidden='true')
        // //blog grid
        // blog grid
        .col-lg-4.col-md-6.mt-lg-0.mt-5
          .card.border-0.med-blog
            .card-header.p-0
              a(href='menu.html')
                img.card-img-bottom(src='images/blog3.jpg' alt='Card image cap')
            .card-body.border.border-top-0
              h5.blog-title.card-title.m-0
                a(href='menu.html') Hashbrown Brioche
              p.mt-3 Cras ultricies ligula sed magna dictum porta auris blandita.
              a.button-w3ls.mt-4.mb-3(href='menu.html')
                | View More
                span.fa.fa-caret-right.ml-1(aria-hidden='true')
        // //blog grid
  // //specials
  // two grids
  section.offer.pt-lg-3
    .row.no-gutters
      .col-md-6.p-0
        .blog-sec-w3
          .text-blog-w3.text-center.p-2
            h4.text-wh.mb-3
              a(href='menu.html') Best Fast Food Collection
            p.text-li
              | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris Sed
              | ut perspiciatis
              | unde omnis iste natus error.
            a.button-w3ls.active.mt-5(href='menu.html')
              | Order Now
              span.fa.fa-caret-right.ml-1(aria-hidden='true')
      .col-md-6.p-0
        .blog-sec-w3.blog-sec-w3-2
          .text-blog-w3.text-center.p-2
            h4.text-wh.mb-3
              a(href='menu.html') Organic Best &amp; Fresh Food
            p.text-li
              | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris Sed
              | ut perspiciatis
              | unde omnis iste natus error.
            a.button-w3ls.active.mt-5(href='menu.html')
              | Order Now
              span.fa.fa-caret-right.ml-1(aria-hidden='true')
  // //two grids
  // services
  section#services.middle.py-5
    .container.py-xl-5.py-lg-3
      .title-section.text-center.mb-md-5.mb-4
        p.w3ls-title-sub Our Work
        h3.w3ls-title.mb-3
          | Excellent 
          span Services
      .row.grids-w3.py-xl-5.py-lg-4.pt-lg-0.pt-4
        .col-lg-5.w3pvt-lauits_banner_bottom_left
          .row
            .col-8.wthree_banner_bottom_grid_right.text-right
              h4.mb-3
                a(href='login.html') Free Shipping
              p Morbi viverra lacus commodo felis semper lectus feugiat.
            .col-4.wthree_banner_bottom_grid_left.text-lg-right.text-center
              img.img-fluid(src='images/s1.png' alt='')
        .col-lg-2.w3pvt-lauits_banner_bottom_left
        .col-lg-5.w3pvt-lauits_banner_bottom_left.mt-lg-0.mt-4
          .row
            .col-4.wthree_banner_bottom_grid_left.text-lg-right.text-center
              img.img-fluid(src='images/s2.png' alt='')
            .col-8.wthree_banner_bottom_grid_right
              h4.mb-3
                a(href='login.html') Free &amp; Easy Returns
              p Morbi viverra lacus commodo felis semper lectus feugiat.
      .row.grids-w3.py-xl-5.py-lg-4.mt-lg-0.mt-4
        .col-lg-4.w3pvt-lauits_banner_bottom_left
          .row
            .col-8.wthree_banner_bottom_grid_right.text-right.pl-lg-0
              h4.mb-3
                a(href='login.html') Online Order
              p Morbi viverra lacus commodo felis semper lectus feugiat.
            .col-4.wthree_banner_bottom_grid_left.text-lg-right.text-center.pr-lg-0
              img.img-fluid(src='images/s3.png' alt='')
        .col-lg-4.w3pvt-lauits_banner_bottom_left.pr-0
        .col-lg-4.w3pvt-lauits_banner_bottom_left.mt-lg-0.mt-4
          .row
            .col-4.wthree_banner_bottom_grid_left.text-lg-right.text-center.pl-lg-0
              img.img-fluid(src='images/s4.png' alt='')
            .col-8.wthree_banner_bottom_grid_right.pr-lg-0
              h4.mb-3
                a(href='login.html') 24/7 Support
              p Morbi viverra lacus commodo felis semper lectus feugiat.
    .img-blog-2
      img.img-fluid(src='images/img.png' alt='')
  // //services
  // blog
  section#blog.blog_w3ls.py-5
    .container.py-xl-5.py-lg-3
      .title-section.text-center.mb-md-5.mb-4
        p.w3ls-title-sub Posts
        h3.w3ls-title.mb-3
          | Our Latest 
          span Blog
        p.titile-para-text.mx-auto
          | Inventore veritatis et quasi architecto beatae vitae dicta sunt
          | explicabo.Nemo
          | enim totam rem aperiam.
      .row
        // blog grid
        .col-lg-4.col-md-6
          .card.border-0
            .card-header.p-0
              a(href='single.html')
                img.card-img-bottom.img-fluid(src='images/blog1.png' alt='image')
              img.img-blog.rounded-circle.img-fluid(src='images/te1.jpg' alt='')
            .card-body.text-center.pt-5.mt-2
              h5.blog-title.card-title.mb-2
                a(href='single.html') Sed ut Riciatis
              .blog_w3icon.border-top.border-bottom.py-1.mb-3
                span
                  | Magna Kictum - Nov 12
              p Cras ultricies ligula sed magna dictum porta auris blandita.
              a.button-w3ls.mt-4(href='single.html')
                | Read More
                span.fa.fa-caret-right.ml-1(aria-hidden='true')
        // //blog grid
        // blog grid
        .col-lg-4.col-md-6
          .card.border-0
            .card-header.p-0
              a(href='single.html')
                img.card-img-bottom.img-fluid(src='images/blog2.png' alt='image')
              img.img-blog.rounded-circle.img-fluid(src='images/te2.jpg' alt='')
            .card-body.text-center.pt-5.mt-2
              h5.blog-title.card-title.mb-2
                a(href='single.html') Unde omnis iste
              .blog_w3icon.border-top.border-bottom.py-1.mb-3
                span
                  | Auris Jlan - Nov 15
              p Cras ultricies ligula sed magna dictum porta auris blandita.
              a.button-w3ls.active.mt-4(href='single.html')
                | Read More
                span.fa.fa-caret-right.ml-1(aria-hidden='true')
        // //blog grid
        // blog grid
        .col-lg-4.col-md-6.mt-lg-0.mt-4
          .card.border-0
            .card-header.p-0
              a(href='single.html')
                img.card-img-bottom.img-fluid(src='images/blog3.png' alt='image')
              img.img-blog.rounded-circle.img-fluid(src='images/te3.jpg' alt='')
            .card-body.text-center.pt-5.mt-2
              h5.blog-title.card-title.mb-2
                a(href='single.html') Natus error sit
              .blog_w3icon.border-top.border-bottom.py-1.mb-3
                span
                  | Dictum Orta - Nov 20
              p Cras ultricies ligula sed magna dictum porta auris blandita.
              a.button-w3ls.mt-4(href='single.html')
                | Read More
                span.fa.fa-caret-right.ml-1(aria-hidden='true')
        // //blog grid
  // //blog
  // slides images
  section#masthead.wthree-slider
  // //slides images
  // newsletter
  section.subscribe-main.py-5
    .container.py-xl-5.py-3
      .row.pb-lg-4.pt-lg-5
        .col-lg-6.col-md-9.text-center
          h3.w3ls-title.mb-2 Subscribe to Newsletter
          p.mb-xl-5.mb-4 Free Delivery on your first order!
          form.d-flex.newsletter-info(action='#' method='post')
            input(type='email' name='email' placeholder='Enter your Email...' required='')
            button(type='submit') Submit
        .col-lg-6.col-md-3
      img.img-fluid.sub-img(src='images/sub.png' alt='')
