extends ../layout/home.pug

block view
  style.
    #map {
      width: 80%;
      height: 500px;}
    }

  h3.col-lg-8.offset-lg-2 Elige entre nuestros locales:  
      select#selectLocal
        option(value="defecto") eliga..
        each local in datos
            option(value=local) #{local.nombre}

  .container.py-xl-5.py-lg-3
        .title-section.text-center
            #map.col-lg-10.offset-lg-1
  script(src="https://code.jquery.com/jquery-2.2.4.js", integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=", crossorigin="anonymous")
  script.
    var superchargers = !{JSON.stringify(datos)};
    
    $( "#selectLocal" )
    .change(function () {
        console.log($( "#selectLocal" ).val());
        selectLocal($( "#selectLocal" ).val());
    })
    .change();

    var map;
    var markers= new Array();
  
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: -12.0199, lng: -77.0646 },
        zoom: 13
      });

      superchargers.forEach(function(sc) {
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(sc.latitud, sc.longitud),
          map: map,
          title: sc.nombre,
          animation: google.maps.Animation.DROP
        });
        console.log(marker);
        markers.push(marker);
      });
    }
    function selectLocal(id){
        if(id!="defecto"){
            //alert("entro");
            var localActual = JSON.parse(id);
            console.log(localActual.nombre);
              for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(null);
              }
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(localActual.latitud, localActual.longitud),
                map: map,
                title: localActual.nombre,
                animation: google.maps.Animation.DROP
            });
            markers.push(marker);
        }
    }

  script(async defer src=`https://maps.googleapis.com/maps/api/js?key=AIzaSyAFXpZowO_X9qWM02i084Z8PMRp5f5sgI8&callback=initMap`)