extends ../layout/home.pug

block view
  //.main-banner-2
  .container-fluid(style='background:#fff')
    .row.mb-3
      .col-sm-5.d-flex
        .card.card-body.flex-fill(style='background: rgba(0,0,255,.1)')
            .card-title
              h5.font-weight-bold.mb-5 APPLICATIONS
            //- .card-text.mb-0
            //-   | Some quick example text
            ul.list-group.list-group-flush(style='background: rgba(0,0,255,.1) ; margin: 17px 0px 0px 0px')
              li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") Jabon Ecologico
              li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") Enjuague agua tratada
              li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") Liquido pre-secado
              li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") Secado de aire
              li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") Shampo abrillantador
              li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") Silicona de llantas
             
            
      .col-sm-2.d-flex
         .card.card-body.flex-fill(style='background:#fff;color:#9aa2b4')
            .card-title
              h5.font-weight-bold.mb-0 PREMIUM
            .card-text.mb-4.btn(style='background:rgba(	237,237,241,.6);color:#9aa2b4')
              | S/160
            ul.list-group.list-group-flush.h-100
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
              li.list-group-item(style="height:35px; line-height:1;")
             
            
            
      .col-sm-2.d-flex
         .card.card-body.flex-fill(style='background:rgba(255,215,0,.6);color:#d7a000')
            .card-title
              h5.font-weight-bold.mb-0 EJECUTIVO
            .card-text.mb-4.btn(style='background:rgba(	184,134,11,06);color:#9aa2b4')
              | S/140
            ul.list-group.list-group-flush.h-100
              
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
         
           
      .col-sm-2.d-flex
         .card.card-body.flex-fill.h-100(style='background:#DFDFE6;color:#747474')
            .card-title
              h5.font-weight-bold.mb-0 STANDARD
            .card-text.mb-4.btn(style='background:rgba(180, 180, 196,.6);color:#9aa2b4')
              | S/120
            ul.list-group.list-group-flush.h-100.d-inline-block
                 
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                 
          
     
           
                    
    .w3ls-bnrbtm.py-5
      .container
        .container.py-xl-5.py-lg-3(style='background:rgba(	237,237,241,.6)')
          .row
            .col-lg-4.text-center.mt-lg-0.mt-2
              img.img-fluid(src='images/carwash/GLOBAL1.png' alt='about')
            .col-lg-8.pr-xl-5.mt-xl-2.mt-lg-0
              h3.title-sub.mb-4
                | Pase de Miembro
              p.sub-para
                | ¡Hemos creado un programa de lavado ilimitado para aquellos de ustedes
                | que planean visitar a menudo! Con el pase de miembro ilimitado,
                | su auto siempre se verá mejor. Lávese con la frecuencia que desee,
                | pero no más de una vez al día. Es fácil, rápido y se puede cancelar
                | en cualquier momento. Elija su paquete y disfrute de su auto limpio.
              
      .container.mt-1
        .container.py-xl-5.py-lg-3(style='background:rgba(	214, 86, 33,.2)')
          .row
            .col-lg-8.pr-xl-5.mt-xl-2.mt-lg-0
              h3.title-sub.mb-4
                | Pase de Miembro
              p.sub-para
                | ¡Hemos creado un programa de lavado ilimitado para aquellos de ustedes
                | que planean visitar a menudo! Con el pase de miembro ilimitado,
                | su auto siempre se verá mejor. Lávese con la frecuencia que desee,
                | pero no más de una vez al día. Es fácil, rápido y se puede cancelar
                | en cualquier momento. Elija su paquete y disfrute de su auto limpio.
            .col-lg-4.text-center.mt-lg-0.mt-2
              img.img-fluid(src='images/carwash/GLOBAL1.png' alt='about')
            
  