extends ../layout/home.pug

block view
  //.main-banner-2
  .container-fluid(style='background:#fff')
    br
    h5.font-weight-bold.mb-0(style='margin: 0px 0px 0px 0px')
                | Nuestros Planes:
    br
    .row.mb-3
        
       
        .col-sm-4.d-flex
         .card.card-body.flex-fill.h-100(style='background:#fff;color:#747474')
            .card-title
              h5.font-weight-bold.mb-0(style='text-align: center; color:#be0912') STANDARD
            .card-text.mb-4.btn(style='background:rgba(	237,237,241,.6);color:black')
              | S/120
            ul.list-group.list-group-flush.h-100.d-inline-block
                 
                  li.list-group-item(style="height:35px; line-height:1;color:#848484")
                    span.fa.fa-caret-right
                      | Jabón ecológico (elimina suciedad)
                  li.list-group-item(style="height:35px; line-height:1;color:#848484")
                    span.fa.fa-caret-right
                      | Enjuague - Agua tratada
                  li.list-group-item(style="height:35px; line-height:1;color:#848484")
                    span.fa.fa-caret-right
                      | Liquido pre-secado
                  li.list-group-item(style="height:35px; line-height:1;color:#848484")
                    span.fa.fa-caret-right
                      | Secado
                 
        .col-sm-4.d-flex
         .card.card-body.flex-fill(style='background:#fff;color:#9aa2b4')
            .card-title
              h5.font-weight-bold.mb-0(style='text-align: center; color:#9e7d50') EJECUTIVO
            .card-text.mb-4.btn(style='background:rgba(	237,237,241,.6);color:black')
              | S/140
            ul.list-group.list-group-flush.h-100
              
              li.list-group-item(style="height:35px; line-height:1; color:#848484 ")
                    span.fa.fa-caret-right
                      | Jabón ecológico (elimina suciedad)
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                    span.fa.fa-caret-right
                      | Shampoo abrillantador
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                    span.fa.fa-caret-right
                      | Enjuague - Agua tratada
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                    span.fa.fa-caret-right
                      | Liquido pre-secado
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                    span.fa.fa-caret-right
                      | Secado

        .col-sm-4.d-flex
         .card.card-body.flex-fill(style='background:#fff;color:#9aa2b4')
            .card-title
              h5.font-weight-bold.mb-0(style='text-align: center; color:#1f1714') PREMIUM
            .card-text.mb-4.btn(style='background:rgba(	237,237,241,.6);color:black')
              | S/160
            ul.list-group.list-group-flush.h-100
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Jabón ecológico (elimina suciedad)
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Shampoo abrillantador
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Lavado multicolor
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Sunami (vida para tu auto)
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Enjuague - Agua tratada
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Liquido pre-secado
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Secado
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Silicona en llantas
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Show / Cortadoras
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Luces LEDS
              li.list-group-item(style="height:35px; line-height:1; color:#848484")
                span.fa.fa-caret-right
                      | Sugerido para camionetas o SUV
     
           
                    
    .w3ls-bnrbtm.py-5
      .container
        .container.py-xl-5.py-lg-3(style='background:rgba(	237,237,241,.6)')
          .row
            .col-lg-4.text-center.mt-lg-0.mt-2
              img.img-fluid(src='images/carwash/GLOBAL1.png' alt='about')
            .col-lg-8.pr-xl-5.mt-xl-2.mt-lg-0
              h3.title-sub.mb-4
                | Pase de Miembro
              p.sub-para
                | ¡Hemos creado un programa de lavado ilimitado para aquellos de ustedes
                | que planean visitar a menudo! Con el pase de miembro ilimitado,
                | su auto siempre se verá mejor. Lávese con la frecuencia que desee,
                | pero no más de una vez al día. Es fácil, rápido y se puede cancelar
                | en cualquier momento. Elija su paquete y disfrute de su auto limpio.
              
      .container.mt-1
        .container.py-xl-5.py-lg-3(style='background:rgba(	214, 86, 33,.2)')
          .row
            .col-lg-8.pr-xl-5.mt-xl-2.mt-lg-0
              h3.title-sub.mb-4
                | Pase de Miembro
              p.sub-para
                | ¡Hemos creado un programa de lavado ilimitado para aquellos de ustedes
                | que planean visitar a menudo! Con el pase de miembro ilimitado,
                | su auto siempre se verá mejor. Lávese con la frecuencia que desee,
                | pero no más de una vez al día. Es fácil, rápido y se puede cancelar
                | en cualquier momento. Elija su paquete y disfrute de su auto limpio.
            .col-lg-4.text-center.mt-lg-0.mt-2
              img.img-fluid(src='images/carwash/GLOBAL1.png' alt='about')
            
