extends ../layout/home.pug

block view
  //.main-banner-2
  .container-fluid(style='background:#fff')
    .row.mb-3
      .col-sm-5.d-flex
        .card.card-body.flex-fill(style='background: rgba(0,0,255,.1)')
            .card-title
              h5.font-weight-bold.mb-5 APPLICATIONS
            //- .card-text.mb-0
            //-   | Some quick example text
            ul.list-group.list-group-flush(style='background: rgba(0,0,255,.1)')
              li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") ARMOR ALL Extreme Shine Carnauba Wax
              li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") Citrus Foam Bath
              li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") Under body flush
              li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") ARMOR ALL Tire shine
              li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") RAIN-X Complete Surface Protection
              li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") SUPER DRY &amp; SHINE
              li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") WHEEL BRITE Tire and Wheel Cleaner
               li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") BLUE CORAL Clear Coat Sealant
               li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") BLUE CORAL Triple Foam Wax &amp; Conditioner
               li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") Clean Wash
               li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") SPOT FREE RINSE
               li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") FREE VACUUMS
               li.list-group-item.list-group-item-info(style="height:35px; line-height:1;")
                 | *PRICES SUBJECT TO LOCATIONS. SEE   
            .card-body(style='background: rgba(0,0,255,.1)')
            
              a.card-link(href='#!') Card 
      .col-sm-2.d-flex
         .card.card-body.flex-fill(style='background:#fff;color:#9aa2b4')
            .card-title
              h5.font-weight-bold.mb-0 PREMIUM
            .card-text.mb-4.btn(style='background:rgba(	237,237,241,.6);color:#9aa2b4')
              | $20
            ul.list-group.list-group-flush.h-100
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              
            .card-body(style='background: rgba(0,0,255,.1)')
              a.card-link(href='#!') Card 
            
      .col-sm-2.d-flex
         .card.card-body.flex-fill(style='background:rgba(255,215,0,.6);color:#d7a000')
            .card-title
              h5.font-weight-bold.mb-0 EJECUTIVO
            .card-text.mb-4.btn(style='background:rgba(	184,134,11,06);color:#9aa2b4')
              | $15
            ul.list-group.list-group-flush.h-100
              li.list-group-item(style="height:35px; line-height:1;")
              li.list-group-item(style="height:35px; line-height:1;")
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              
            .card-body(style='background: rgba(0,0,255,.1)')
              a.card-link(href='#!') Card
           
      .col-sm-2.d-flex
         .card.card-body.flex-fill.h-100(style='background:#DFDFE6;color:#747474')
            .card-title
              h5.font-weight-bold.mb-0 STANDARD
            .card-text.mb-4.btn(style='background:rgba(180, 180, 196,.6);color:#9aa2b4')
              | $10
            ul.list-group.list-group-flush.h-100.d-inline-block
                  li.list-group-item(style="height:35px; line-height:1;")
                  li.list-group-item(style="height:35px; line-height:1;")
                  li.list-group-item(style="height:35px; line-height:1;")
                  li.list-group-item(style="height:35px; line-height:1;")
                  li.list-group-item(style="height:35px; line-height:1;")
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              
            .card-body(style='background: rgba(0,0,255,.1)')
              a.card-link(href='#!') Card 
           
     
           
                    
    .w3ls-bnrbtm.py-5
      .container
        .container.py-xl-5.py-lg-3(style='background:rgba(	237,237,241,.6)')
          .row
            .col-lg-4.text-center.mt-lg-0.mt-2
              img.img-fluid(src='images/carwash/GLOBAL1.png' alt='about')
            .col-lg-8.pr-xl-5.mt-xl-2.mt-lg-0
              h3.title-sub.mb-4
                | Pase de Miembro
              p.sub-para
                | ¡Hemos creado un programa de lavado ilimitado para aquellos de ustedes
                | que planean visitar a menudo! Con el pase de miembro ilimitado,
                | su auto siempre se verá mejor. Lávese con la frecuencia que desee,
                | pero no más de una vez al día. Es fácil, rápido y se puede cancelar
                | en cualquier momento. Elija su paquete y disfrute de su auto limpio.
              
      .container.mt-1
        .container.py-xl-5.py-lg-3(style='background:rgba(	214, 86, 33,.2)')
          .row
            .col-lg-8.pr-xl-5.mt-xl-2.mt-lg-0
              h3.title-sub.mb-4
                | Pase de Miembro
              p.sub-para
                | ¡Hemos creado un programa de lavado ilimitado para aquellos de ustedes
                | que planean visitar a menudo! Con el pase de miembro ilimitado,
                | su auto siempre se verá mejor. Lávese con la frecuencia que desee,
                | pero no más de una vez al día. Es fácil, rápido y se puede cancelar
                | en cualquier momento. Elija su paquete y disfrute de su auto limpio.
            .col-lg-4.text-center.mt-lg-0.mt-2
              img.img-fluid(src='images/carwash/GLOBAL1.png' alt='about')
            
      .container.mt-1
        .container.py-xl-5.py-lg-3(style='background:rgba(	255, 193, 7,.2)')
          .row
            .col-lg-8.pr-xl-5.mt-xl-2.mt-lg-0
              h3.title-sub.mb-4(style='color:rgba(	255, 55, 7,.2)')
                | Pase de Miembro
              p.sub-para
                | ¡Hemos creado un programa de lavado ilimitado para aquellos de ustedes
                | que planean visitar a menudo! Con el pase de miembro ilimitado,
                | su auto siempre se verá mejor. Lávese con la frecuencia que desee,
                | pero no más de una vez al día. Es fácil, rápido y se puede cancelar
                | en cualquier momento. Elija su paquete y disfrute de su auto limpio.
            .col-lg-4.text-center.mt-lg-0.mt-2
              img.img-fluid(src='images/carwash/GLOBAL1.png' alt='about')

    .row.mb-3
      .col-sm-4.d-flex
        .card.card-body.flex-fill(style='background: rgba(0,0,255,.1)')
            .card-title
              h5.font-weight-bold.mb-5 APPLICATIONS
            //- .card-text.mb-0
            //-   | Some quick example text
            ul.list-group.list-group-flush(style='background: rgba(0,0,255,.1)')
              li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") ARMOR ALL Extreme Shine Carnauba Wax
              li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") Citrus Foam Bath
              li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") Under body flush
              li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") ARMOR ALL Tire shine
              li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") RAIN-X Complete Surface Protection
              li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") SUPER DRY &amp; SHINE
              li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") WHEEL BRITE Tire and Wheel Cleaner
               li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") BLUE CORAL Clear Coat Sealant
               li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") BLUE CORAL Triple Foam Wax &amp; Conditioner
               li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") Clean Wash
               li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") SPOT FREE RINSE
               li.list-group-item.list-group-item-info(style="height:35px; line-height:1;") FREE VACUUMS
               li.list-group-item.list-group-item-info(style="height:35px; line-height:1;")
                 | *PRICES SUBJECT TO LOCATIONS. SEE   
            .card-body(style='background: rgba(0,0,255,.1)')
            
              a.card-link(href='#!') Card 
      .col-sm-2.d-flex
         .card.card-body.flex-fill(style='background:#fff;color:#9aa2b4')
            .card-title
              h5.font-weight-bold.mb-0 PLATINUM
            .card-text.mb-4.btn(style='background:rgba(	237,237,241,.6);color:#9aa2b4')
              | valor
            ul.list-group.list-group-flush.h-100
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              
            .card-body(style='background: rgba(0,0,255,.1)')
              a.card-link(href='#!') Card 
            
      .col-sm-2.d-flex
         .card.card-body.flex-fill(style='background:rgba(255,215,0,.6);color:#d7a000')
            .card-title
              h5.font-weight-bold.mb-0 GOLD
            .card-text.mb-4.btn(style='background:rgba(	184,134,11,06);color:#9aa2b4')
              | valor
            ul.list-group.list-group-flush.h-100
              li.list-group-item(style="height:35px; line-height:1;")
              li.list-group-item(style="height:35px; line-height:1;")
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              
            .card-body(style='background: rgba(0,0,255,.1)')
              a.card-link(href='#!') Card
           
      .col-sm-2.d-flex
         .card.card-body.flex-fill.h-100(style='background:#DFDFE6;color:#747474')
            .card-title
              h5.font-weight-bold.mb-0 SILVER
            .card-text.mb-4.btn(style='background:rgba(180, 180, 196,.6);color:#9aa2b4')
              | valor
            ul.list-group.list-group-flush.h-100.d-inline-block
                  li.list-group-item(style="height:35px; line-height:1;")
                  li.list-group-item(style="height:35px; line-height:1;")
                  li.list-group-item(style="height:35px; line-height:1;")
                  li.list-group-item(style="height:35px; line-height:1;")
                  li.list-group-item(style="height:35px; line-height:1;")
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
                  li.list-group-item(style="height:35px; line-height:1;")
                    img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              
            .card-body(style='background: rgba(0,0,255,.1)')
              a.card-link(href='#!') Card 
           
      .col-sm-2.d-flex
         .card.card-body.flex-fill.mh-100(style='background:#F9D0C0;color:#d65621;')
            .card-title
              h5.font-weight-bold.mb-0 BRONZE
            .card-text.mb-4.btn(style='background:rgba(	214, 86, 33,.6);color:#9aa2b4')
              | valor
            ul.list-group.list-group-flush.h-100
              li.list-group-item.list-group-item-danger(style="height:35px; line-height:1;")
              li.list-group-item.list-group-item-danger(style="height:35px; line-height:1;")
              li.list-group-item.list-group-item-danger(style="height:35px; line-height:1;")
              li.list-group-item.list-group-item-danger(style="height:35px; line-height:1;")
              li.list-group-item.list-group-item-danger(style="height:35px; line-height:1;")
              li.list-group-item.list-group-item-danger(style="height:35px; line-height:1;")
              li.list-group-item.list-group-item-danger(style="height:35px; line-height:1;")
              li.list-group-item.list-group-item-danger(style="height:35px; line-height:1;")
              li.list-group-item.list-group-item-danger(style="height:35px; line-height:1;")
              li.list-group-item.list-group-item-danger(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item.list-group-item-danger(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              li.list-group-item.list-group-item-danger(style="height:35px; line-height:1;")
                img(src='https://www.fast5xpress.com/wp-content/themes/fast5xpress/images/tickmark.png' alt='')
              
            .card-body(style='background: rgba(0,0,255,.1)')
              a.card-link(href='#!') Card 
              
