doctype html


html(lang='en')
  head
    include ../partials/head.pug
  body.col-md-9.col-sm-12.container-fluid
    .boxed-wrapper
      include ../partials/header.pug
      block view
      include ../partials/footer.pug
    //include ../partials/scripts.pug
