doctype html


html(lang='en')
  head
    include ../partials/head.pug
  body.col-xl-9.col-lg-10.col-md-12.col-sm-12.col-12.container-fluid
    .boxed-wrapper
      include ../partials/header.pug
      block view
      include ../partials/footer.pug
    //include ../partials/scripts.pug
